// This file contains a list of all the process which procman should run
// on the robot

:process : object {
    host = "localhost";
    auto-restart = "true";
    restart-delay-ms = "500";
    auto-start = "true";
    name = "unknown";
 }

// Gamepad
proc# : process {
    cmd = "java april.util.GamePadDriver";
    name = "GamePadDrive";
}

// RGBD-Slam
proc# : process {
    cmd = "java rgbdslam.RGBDSLAM -f $RGBD/demos/va_chair_1cm.vx";
    name = "RGB-D SLAM";
}
