noisemodels {
    // How much noise is being added to each observation
    odometryDiag = [.0005,.0005]; //proportional: %
    landmarkDiag = [.001, .0001]; // additive: m, rad

}

robot {
    speed_ms = 1.2; //
    baseline_m = .4;


    start_xyt = [0,0,0];

    waypoints {
        wp# = [6,0];
        wp# = [6,6];
        wp# = [-6,6];
        wp# = [-11,11];
        wp# = [-6,6];
        wp# = [-6,-6];
        wp# = [-11,-11];
        wp# = [-6,-6];
        wp# = [6,-6];
    }
}

simulator {
    knownDataAssoc = true;

    autoRun = false;
    tickLength_s = .2; // 100 ms
    loop = false;
}

landmarks {
    l# = [-0.095322,	      14.576308];
    l# = [-8.155262,	     -12.756185];
    l# = [-14.084603,	       5.749661];
    l# = [-2.751447,	      -4.428336];
    l# = [-0.720464,	     -13.517656];
    l# = [-8.139785,	     -10.404424];
    l# = [3.499250,	       3.266862];
    l# = [5.669862,	       8.929714];
    l# = [-14.017086,	      12.979879];
    l# = [-8.181986,	     -10.714038];
    l# = [-13.262226,	      -1.190694];
    l# = [8.680272,	       8.157769];
    l# = [11.532215,	      -2.322663];
    l# = [-9.769815,	       1.902321];
    l# = [4.019802,	       0.839165];
    l# = [2.922531,	      -0.349289];
    l# = [-1.182679,	      -3.162967];
    l# = [4.839149,	       6.975794];
    l# = [-14.971026,	      13.489320];
    l# = [-9.660450,      -0.252567];
}
